# IDEs e editores
.vscode/
.idea/
*.swp
*.swo
*~

# Ambiente virtual Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Arquivos de cache Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Arquivos de build e distribuição
dist/
build/
*.egg-info/
*.egg
.pybuilder/
target/
MANIFEST

# Arquivos Docker
.dockerignore

# Logs e bancos de dados
*.log
*.sqlite3
*.db

# C extensions
*.so

# Instalador e pacotes
pip-log.txt
pip-delete-this-directory.txt
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Unit test / coverage reports
*.cover
*.py,cover
.hypothesis/
cover/

# Translations
*.mo
*.pot

# Django/Flask stuff
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Documentação
docs/_build/
/site

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Gestores de dependências
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# Ferramentas de análise
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
.pytype/
.pyre/
cython_debug/

# Arquivos específicos do projeto
# Adicione aqui arquivos específicos do projeto que não devem ser versionados

# Arquivos de sistema
.DS_Store
Thumbs.db

# PyPI configuration file
.pypirc
